---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Bookmarks">

  <div class="prose max-w-none text-center">

   <h2 class="text-4xl font-bold text-base-content mb-8">Bookmarks</h2>

      <p class="text-lg text-base-content/80 mb-8">
        Looks like this page went on a coffee break. ☕<br/>
        Even our smartest algorithms couldn't find it!
      </p>

<!-- Bookmarks -->
<h2 align="center">
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
<li><a href="https://www.example.com" target="_blank" title="鼠标悬停在链接上时显示">访问 Example</a></li> 
</h2>
  </div>
</Layout>
